.topic{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bolder;
  font-size: 45px;
  text-align: center;
  margin-top: 20px;
}

.basic-topic {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding-left: 40px;
    padding-bottom: 10px;
}

.content {
    font-family: "Montserrat", cursive;
    font-style: normal;
    font-weight: 400px;
    font-size: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
}


.education-clg {
    font-family: "Montserrat", cursive;
    padding-left: 40px;
}

.back-button {
    padding-top: 40px;
    text-align: center;
    padding-bottom: 40px;
}

.button {
    border: 2px solid black;
    width: 170px;
    padding: 12px 0;
    text-align: center;
    background: black;
    color: white;
    border-radius: 999px;
    font-weight: bold;
}

.button:hover {
    background-color: white;
    color: black;
    transition: background-color 0.5s ease;

}