.topic {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  text-align: center;
  margin-top: 20px;
}

.sub-hero {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.container-bio {
  height: 100px;
  width: 800px;
  margin: auto;
}

.bio {
  font-family: "Montserrat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.container-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: fit-content;
  margin: 0 auto;
}

.aboutme {
  text-decoration: none;
  width: 140px;
  padding: 12px 0;
  text-align: center;
  background: black;
  color: white;
  border-radius: 999px;
  font-weight: bold;
}

.aboutme:hover {
  background-color: white;
  color: black;
  transition: background-color 0.5s ease;
}

.contactme {
  width: 140px;       
  padding: 12px 0;
  text-align: center;
  background: black;
  color: white;
  border-radius: 999px;
  font-weight: bold;
}

.contactme:hover {
  background-color: white;
  color: black;
  transition: background-color 0.5s ease;
}

.project-title {
  border: 1px solid white;
  height: 80px;
  padding: 5px;
  background-color: white;
  color: black;
  font-family:"Outfit", sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin-top: 70px;
}

.skills-title {
  height: 80px;
  padding: 5px;
  color: black;
  font-family:"Outfit", sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin-top: 40px;
}

.pro-card {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.container-project {
  margin-top: 20px;
  padding-bottom: 15px;
}

.card-title {
  padding: 15px;
  font-weight: bold;
  font-size: 30px;
}

.project-cards {
  padding-top: 10px;
}

.project-intro {
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  font-size: 30px;
  padding-bottom: 25px;
}

.demo {
  background-color: black;
  color: white;
}

.skill-card {
  width: 18rem
}

.container-skills {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 160px);
  gap: 40px;
  justify-content: center;
}

.skill-pic {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.8s;
}

.skill-pic:hover {
  height: 200px;
}

.skill-pic img {
  height: 100%;
  width: auto;      
  object-fit: contain;
  background-color: white;
  transition: all 0.6s;
}

.skill-pic span {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}

.container-contact {
  padding-top: 30px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.contact {
  border: 1px solid white;
  text-align: center;
}

.icon-contact {
  font-size: 50px;
  text-align: center;
  margin: auto;
  margin: auto;
}

@media (max-width: 768px) {
  .container-skills {
    grid-template-columns: repeat(2, 120px);
  }
}

@media (max-width: 480px) {
  .container-skills {
    grid-template-columns: repeat(1, 120px);
  }
}
