.topic {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 43px;
  text-align: center;
  margin-top: 15px;
}

.container-bio {
  height: 100px;
  width: 800px;
  margin: auto;
}

.bio {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.container-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: fit-content;
  margin: 0 auto;
}

.aboutme {
    width: 140px;
    padding: 12px 0;
    text-align: center;
    background: black;
    color: white;
    border-radius: 999px;
    font-weight: bold;
}

.contactme {
  width: 140px;       
  padding: 12px 0;
  text-align: center;
  background: black;
  color: white;
  border-radius: 999px;
  font-weight: bold;
}

.project-title {
  border: 1px solid black;
  height: 80px;
  padding: 5px;
  background-color: black;
  color: white;
  font-family:"Outfit", sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin-top: 70px;
}

.pro-card {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.container-project {
  margin-top: 20px;
}

.card-title {
  padding: 15px;
  font-weight: bold;
  font-size: 30px;
}

.project-cards {
  padding-top: 10px;
}

.project-intro {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 25px;
}