.topic {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 43px;
  text-align: center;
  margin-top: 15px;
}

.container {
  height: 100px;
  width: 800px;
}

.bio {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: fit-content;
  margin: 0 auto;
}

.project {
    width: 140px;
    padding: 12px 0;
    text-align: center;
    background: black;
    color: white;
    border-radius: 999px;
    font-weight: bold;
}

.skills {
  width: 140px;       
  padding: 12px 0;
  text-align: center;
  background: black;
  color: white;
  border-radius: 999px;
  font-weight: bold;
}
