.topic {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bolder;
    font-size: 45px;
    text-align: center;
    margin-top: 20px;
}

.skill-topic {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 20px;
  padding-top: 70pxpx;
  padding-bottom: 50px;
}

.skill-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 20px;
}

.skill-card {
  border: 1px solid white;
  height: 350px;
  width: 230px;
}

.skill-img {
  height: 160px;
  width: 180px;
}

.skill-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.skill-img-css {
  width: 140px;
  height: 160px;
}

.back-button {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 40px;
}

.button {
    text-decoration: none;
    width: 170px;
    padding: 12px 0;
    background: black;
    color: white;
    border-radius: 999px;
    font-weight: bold;
}

.button:hover {
    background-color: white;
    color: black;
    transition: background-color 0.5s ease;
}